@import 'tailwindcss';

@font-face {
  font-family: 'noto-sans-jp';
  src: local('Noto Sans JP'), local('Noto Sans CJK JP');
  font-display: swap;
}

@theme {
  --font-sans:
    'Inter-Variable', 'Arial', 'Helvetica Neue', 'noto-sans-jp',
    'BIZ UDPGothic', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif,
    'Segoe UI';
  --font-serif:
    'Charis-Web', 'Times New Roman', 'Noto Serif JP', 'Noto Serif CJK JP',
    'BIZ UDPMincho', 'Hiragino Mincho ProN', 'Hiragino Serif', serif, 'Segoe UI';
  --font-ipa: var(--font-serif);
  --default-font-feature-settings:
    'calt', 'cv01', 'cv05', 'cv07', 'cv08', 'cv10', 'ss03';

  --color-violet-dark: oklch(from var(--color-violet-950) 20% 0.06 h);

  --color-side: light-dark(var(--color-violet-100), var(--color-violet-950));
  --color-main: canvas;
  --color-text: canvasText;
  --color-textinv: canvas;
  --color-accent: light-dark(var(--color-violet-950), var(--color-violet-100));
  --color-border: light-dark(hsl(0 0 0 / 25%), hsl(0 0 100 / 25%));
  --color-border-2: light-dark(hsl(0 0 0 / 40%), hsl(0 0 100 / 40%));
  --color-link: light-dark(var(--color-blue-700), #10ff10);
  --color-link-disabled: light-dark(hsl(0 0 0 / 60%), hsl(0 0 100 / 40%));
  --color-caution: light-dark(var(--color-red-600), var(--color-yellow-300));

  --default-transition-duration: 110ms;
  
  --spacing-paragraph: 0.75rem;
  --spacing-heading: 2.5rem;
}

@custom-variant hover-focus {
  @media (any-hover: hover) {
    &:hover {
      @slot;
    }
  }

  &:focus-visible {
    @slot;
  }
}

@layer base {
  :root {
    @apply max-sm:text-sm wrap-anywhere hyphens-auto scheme-light-dark;
    -webkit-tap-highlight-color: revert;
    font-optical-sizing: auto;
    line-break: strict;
    scrollbar-gutter: stable;
    text-spacing-trim: trim-start;
    text-autospace: normal;
  }

  [lang] {
    word-break: normal;
  }

  @supports (word-break: auto-phrase) {
    @media (width >= 40rem) {
      [lang^='ja'] {
        word-break: auto-phrase;
        text-align: justify;
      }
    }
  }

  body {
    @apply flow-root bg-side text-text;
  }

  main {
    @apply flow-root inline-full max-inline-7xl px-4 mx-auto bg-main min-block-lvh;

    > :where(:first-child) {
      @apply mt-3;
    }

    > :where(:last-child) {
      @apply mb-3;
    }
  }

  #title {
    @apply text-4xl font-extralight text-balance my-10 text-center;
  }

  header {
    @apply flow-root;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-normal text-accent;
  }

  * + :is(h2, h3, h4, h5, h6) {
    @apply mbs-heading;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5,
  h6 {
    @apply font-semibold text-base;
  }

  :not(li) > * + :where(p, ul, ol, pre) {
    @apply mbs-paragraph;
  }

  :not(li) > :where(ul, ol) {
    @apply ms-7;
  }

  li > :where(ul, ol) {
    @apply ms-4;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  a {
    @apply text-link hover:underline;
  }

  table {
    @apply inline-max max-inline-full me-auto;

    :where(& > thead > tr:last-child) {
      @apply border-b border-border-2;
    }

    :where(& > :is(thead, tbody, tfoot) > tr:not(:last-child)) {
      @apply border-b border-border;
    }

    :where(td, th) {
      @apply text-base py-1.25 px-2.5 text-center;
    }
  }

  .table-container:has(> table) {
    @apply overflow-auto max-inline-full my-heading;
  }

  hr {
    @apply my-5 mx-auto inline-full max-inline-160 border-border-2;
  }

  strong,
  b,
  th {
    @apply font-semibold;
  }

  input:where([type='text']),
  textarea {
    @apply border border-border rounded font-mono px-1;
  }

  textarea {
    @apply resize-y min-block-25;
  }

  button {
    @apply cursor-pointer bg-accent hover-focus:opacity-70 transition-opacity
      rounded text-textinv px-4 py-2 no-underline leading-none;
  }
}
