name: Deploy to Github Pages

on:
  push:
    branches:
      - main

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            ./rust -> ./rust/target

      - name: Install WebAssembly target
        run: rustup target add wasm32-unknown-unknown

      - name: Install wasm-bindgen-cli & wasm-opt
        run: |
          cargo install wasm-bindgen-cli --locked --version 0.2.108
          cargo install wasm-opt --locked --version 0.116.1

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm

      - name: Install Dependencies
        run: pnpm i --frozen-lockfile

      - name: Compile to wasm
        run: |
          cd ./rust
          cargo build --release --lib

      - name: Execute wasm-bindgen
        run: |
          cd ./rust
          wasm-bindgen --out-dir ../src/wasm --typescript --target web ./target/wasm32-unknown-unknown/release/wasm_part.wasm

      - name: Optimize wasm
        run: |
          cd ./src/wasm
          wasm-opt ./wasm_part_bg.wasm -o ./opted.wasm -O
          mv ./opted.wasm ./wasm_part_bg.wasm
      
      - name: Build Vite
        run: pnpm run build

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
